/* static/css/base.css */
.lowercase {
    text-transform: lowercase;
}

.hidden {
    display: none !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 0.75rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.75rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.muted {
    color: #6b7280;
    font-size: .9rem;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    margin: 24px;
}

.row {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

input {
    padding: 10px 12px;
    font-size: 16px;
    width: 320px;
}

button {
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    height: fit-content;
}

.muted {
    color: #666;
    font-size: 14px;
}

pre {
    background: #f6f6f6;
    padding: 12px;
    border-radius: 8px;
    overflow: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
    margin-top: 14px;
}

img {
    max-width: 140px;
    height: auto;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.grid {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 12px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.flex.col {
    flex-direction: column;
}

.flex.start {
    align-items: flex-start;
}

.flex.end {
    justify-content: flex-end;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.full {
    width: 100%;
}

.flex.fit-h,
.flex.fit-height {
    height: fit-content;
}

.flex.fit-w,
.flex.fit-width {
    width: fit-content;
}

label {
    margin-bottom: 0 !important;
}