<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or 'Sanctum Library' }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}

    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
    {% block extra_js %}{% endblock %}
</head>

<body>
    <main class="container">
        <header>
            <nav>
                <ul>
                    <li><strong><a href="/">Home</a></strong></li>
                </ul>
                <ul>
                    <li><a href="/scan">Scan</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </main>
</body>

</html>